<div class="container">
  <h2>TO DO</h2>
  <div class="form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Task name</label>
                <input type="text" placeholder="" [(ngModel)]="newTask">
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" (click)="Add(newTask)">ADD</button>
        </div>
    </div>        
</div>

<div class="list">
    <h5>Tasks to complete</h5>
    <hr/>
    <div class="row" *ngFor="let task of tasks; let i = index;">
        <div class="col-1">
            <h6>{{ i + 1 }})</h6>
        </div>
        <div class="col-10">
            <h6>{{ task }}</h6>
        </div>
        <div class="col-1">
            <i class="material-icons" (click)="remove(i)">
                delete
            </i>                
        </div>
    </div>
</div>